.main {
    background-color: hsla(var(--bg),1);
    color: hsl(var(--txt));
    width:calc(100% - 9rem);
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding:4.5rem;
    font-size:14px;
    gap:4rem;
    min-height:calc( 100vh - 12rem);
}

.container {
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.countryList {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    gap:4.5rem;
}
.country {
    display:inline-flex;
    flex-direction: column;
    background:hsla(var(--elm),1);
    width:calc(100% / 4 - 3.5rem);
    justify-content: flex-start;
    align-items: center;
    height:fit-content;
    border-radius: .35em;
    overflow: hidden;
    box-shadow:0px 0px .5rem 2px rgba(5, 1, 1, 0.1);
    text-decoration: none;
    color:hsl(var(--txt))
}
.country:hover {
    filter:brightness(var(--bright))
}
.imgFlag {
    height:10rem;
    display:block;
    margin:0;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.flag {
    min-width:100%;
    height: 100%;
    visibility: hidden;
}
.countryData {
    display: flex;
    flex-direction: column;
    width:80%;
    height:9rem;
    gap:1rem;
    margin-top:1.5rem;
    text-decoration: none;

}
.countryTitle {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

}
.topSide {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.searchBar {
    width:35%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:hsl(var(--txt));
    
}
.input {
    width:100%;
    padding:1rem .5rem 1rem 4rem;
    background: hsl(var(--elm));
    box-shadow: none;
    border:none;
    outline: none;
    color:hsl(var(--txt));
    z-index: 0;
}
.input::placeholder {
    color:hsl(var(--input))
}
.searchBar::before{
    display: flex;
    flex-direction: row;
    position:absolute;
    justify-self: center;
    margin-left:1.5rem;
    content: '';
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='3' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E%0A");
    z-index:1;
    background-color:hsl(var(--input));
    width:1rem;
    height:1rem;
}
.filterBar {
    margin-right:.5rem;
}
.select {
    width:12rem;
    padding:1rem 1rem;
    background: hsl(var(--elm));
    color:hsl(var(--txt));
    border-radius: .25rem;
    box-shadow: none;
    border:none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}
.select:hover {
    filter: brightness(var(--bright));
}
.selectTitle {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    margin-left:1rem;
}
.downArrow {
    font-size:14px;
    width:.75em;
    margin-top:.25rem;
}
.dropMenu {
    display:none;
    list-style: none;
    background:hsl(var(--elm));
    margin-top:.25rem;
    padding: .75rem 0;
    position: absolute;
    width:12rem;
    z-index:1;
    border-radius: .25rem;
}
.selectOption {
    padding:.25rem 2rem;
    font-weight: 600;
    width:calc(100% - 4rem);
    background-color: var(hsl(--elm));
    z-index:1;
}
.selectOption:hover {
    background-color: hsla(var(--bg),.5);
    cursor: pointer;
}
.selectOption.Selected {
    background-color: hsla(var(--bg),.5);

}
.dataHead {
    font-weight: 600;
    line-height: 1.5em;
}

@media only screen and (min-width:360px) and (max-width:672px) {

    .main{
        width:calc(100% - 5rem);
        padding:2.5rem;
    }
    .topSide {
        flex-direction: column;
        gap:2rem;
        align-items: flex-start;
    }
    .searchBar {
        width:100%;
    }
    .country {
        width:100%;
    }
}